#header {
  position: absolute;
  width: 100%;
  height: 80px;
}

.register-button-tr {
  position: absolute;
  top: 10px;
  right: 100px;
  z-index: 100;
}
.reseller_recruit {
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 100;
}

.left_top_logo {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 10;
  display: flex;
  flex-direction: row;
}
.left_top_logo img {
  height: 100px;
  margin-right: 10px;
}
.introduce {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top: 100px;
}

.topbackground {
  background-image: url("https://mlib.liuzijin.com/frontend/images/space.jpeg");
  background-size: 100% auto;
}
.topbackground img {
  position: absolute;
  top: 10px;
  right: 200px;
  width: 50px;
  height: 50px;
}
.topbackground2 {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  height: 80px;
  z-index: -100;
  background-image: url("https://mlib.liuzijin.com/frontend/images/space.jpeg");
  background-size: 100% 80px;
}
.topbackground2 img {
  position: absolute;
  top: 10px;
  right: 200px;
  width: 50px;
  height: 50px;
}

.firstcard {
  border: none;
}
.introduce_svg_inner {
  padding: 10px 10px 10px 10px;
  animation: opacity1 20s;
  animation-iteration-count: infinite;
  border-radius: 10px;
  box-shadow: 0px 1px 20px 2px #888888 !important;
  width: 200px;
  height: 150px;
}
#theboard {
  width: 100%;
  height: 100%;
}
@keyframes opacity1 {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.signin-button-tr {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.signinform-innerform {
  width: 300px;
}
#typeslogan-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#typeslogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.typewriter {
  font-size: 48px;
  white-space: nowrap;
}
.typewriter-follower {
  font-size: 24px;
  white-space: nowrap;
  padding-bottom: 25px;
}
.typewriter span.blink {
  border-right: 0.15em solid;
  color: #007bff;
  animation: caret 1s steps(1) infinite;
}
.typewriter-follower span.blink {
  border-right: 0.15em solid;
  color: #007bff;
  animation: caret 1s steps(1) infinite;
}

/* The typing effect */
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.profileform input {
  font-family: monospace;
  font-size: 20px;
  background-color: #c2eebfd9;
  overflow-y: auto;
}

.show-password svg {
  width: 12px;
}

.footnote {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}

.footnote1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.demo-progress1 {
  animation: progress1 5s steps(10, end);
  animation-iteration-count: infinite;
}
.demo-progress2 {
  animation: progress2 10s;
  animation-iteration-count: infinite;
}
.demo-progress3 {
  animation: progress3 5s;
  animation-iteration-count: infinite;
}
.demo-brain {
  animation: jellomiddle 4s;
  animation-iteration-count: infinite;
  transform-origin: 90% 70%;
}
.demo-chat {
  animation: demochat 3s;
  animation-iteration-count: infinite;
}

.demo-yellowtip1 {
  animation: yellowtip1 10s;
  animation-iteration-count: infinite;
}
.demo-yellowtip2 {
  animation: yellowtip2 10s;
  animation-iteration-count: infinite;
}
.demo-yellowtip3 {
  animation: yellowtip3 10s;
  animation-iteration-count: infinite;
}
.demo-user-action1 {
  animation: demoshow1 5s;
  animation-iteration-count: infinite;
}
.demo-user-action2 {
  animation: demoshow2 5s;
  animation-iteration-count: infinite;
}
.demo-user-action3 {
  animation: demoshow3 5s;
  animation-iteration-count: infinite;
}
.demo-richtext {
  animation: demorichtext 8s;
  animation-iteration-count: infinite;
}
@keyframes demorichtext {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(0%, 0%);
    opacity: 0;
  }
  50% {
    transform: translate(-10%, 0%);
  }
  70% {
    transform: translate(-10%, 0%);
    opacity: 0;
  }
  71% {
    transform: translate(-10%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes yellowtip1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes yellowtip2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes yellowtip3 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes demochat {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes demoshow2 {
  0% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes demoshow1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes jellomiddle {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes demoshow3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display-3 {
  font-size: 2.5rem !important;
}
#product_compare {
  border-collapse: collapse;
}
table#product_compare,
table#product_compare th,
table#product_compare td {
  border: 1px solid black;
}
.firstrow {
  background-color: cyan;
  font-weight: bolder;
}
#product_compare tr td:first-child {
  background-color: cyan;
  font-weight: bolder;
}
.wrapper {
  position: sticky;
  top: 0;
}
