<!DOCTYPE html>
<html>

<head>
    <title>Hyper Automation Service</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no maximum-scale=1.0, user-scalable=no" />
    <link rel=" shortcut icon" href="./favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.17.3/dist/bootstrap-vue.min.css">
    <!-- Load Vue followed by BootstrapVue, and BootstrapVueIcons -->
    <link rel="stylesheet" href="./my-styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-i18n@8.22.0/dist/vue-i18n.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.17.3/dist/bootstrap-vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.17.3/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@latest/dist/svg.min.js"></script>
</head>

<body>
    <div id='app'>
        <div id="S1">
            <div id="C1">
                <div id="C9"></div>
                <div id="containerbkg" class="grid1"></div>
                <div id="C3" v-on:focus="KFK.C3GotFocus" v-on:blur="KFK.C3Blur" v-on:mouseover="KFK.focusOnC3">
                </div>
                <div id="selectingrect" class="selectingrect"></div>
            </div>
        </div>

        <!-- left tool left menu toolbox left panel-->
        <div id="leftPanel" class="bg-white padlayout spaceToHide" v-on:click="KFK.clickOnLeftPanel">
            <b-list-group>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('pointer', $event);" v-b-popover.hover.right title="点选"
                    :active="toolActiveState['pointer']">
                    <b-img :src="assets['pointer.svg']" fluid alt="" scale="2" class="cocotool"></b-img>
                    <div class="shortcutkey">ESC</div>
                </b-list-group-item>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('ACTION', $event);" v-on:mousedown="KFK.onToolboxMouseDown('ACTION', $event)"
                    v-on:mouseup="KFK.onToolboxMouseUp('ACTION', $event)" v-b-popover.hover.right title="活动"
                    :active="toolActiveState['ACTION']">
                    <b-img :src="assets['ACTION.svg']" fluid alt="" scale="2" class="cocotool"></b-img>
                    <div class="shortcutkey">1</div>
                </b-list-group-item>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('INFORM', $event);" v-on:mousedown="KFK.onToolboxMouseDown('INFORM', $event)"
                    v-on:mouseup="KFK.onToolboxMouseUp('INFORM', $event)" v-b-popover.hover.right title="通知"
                    :active="toolActiveState['INFORM']">
                    <b-img :src="assets['INFORM.svg']" fluid alt="" scale="2" class="cocotool"></b-img>
                    <div class="shortcutkey">2</div>
                </b-list-group-item>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('SCRIPT', $event);" v-on:mousedown="KFK.onToolboxMouseDown('SCRIPT', $event)"
                    v-on:mouseup="KFK.onToolboxMouseUp('SCRIPT', $event)" v-b-popover.hover.right title="程序"
                    :active="toolActiveState['SCRIPT']">
                    <b-img :src="assets['SCRIPT.svg']" fluid alt="" scale="2" class="cocotool"></b-img>
                    <div class="shortcutkey">3</div>
                </b-list-group-item>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('TIMER', $event);" v-on:mousedown="KFK.onToolboxMouseDown('TIMER', $event)"
                    v-on:mouseup="KFK.onToolboxMouseUp('TIMER', $event)" v-b-popover.hover.right title="定时器"
                    :active="toolActiveState['TIMER']">
                    <b-img :src="assets['TIMER.svg']" fluid alt="" scale="2" class="cocotool"></b-img>
                    <div class="shortcutkey">3</div>
                </b-list-group-item>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('SUB', $event);" v-on:mousedown="KFK.onToolboxMouseDown('SUB', $event)"
                    v-on:mouseup="KFK.onToolboxMouseUp('SUB', $event)" v-b-popover.hover.right title="子流程"
                    :active="toolActiveState['SUB']">
                    <b-img :src="assets['SUB.svg']" fluid alt="" scale="2" class="cocotool"></b-img>
                    <div class="shortcutkey">3</div>
                </b-list-group-item>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('AND', $event);" v-on:mousedown="KFK.onToolboxMouseDown('AND', $event)"
                    v-on:mouseup="KFK.onToolboxMouseUp('AND', $event)" v-b-popover.hover.right title="并"
                    :active="toolActiveState['AND']">
                    <b-img :src="assets['AND.svg']" fluid alt="" scale="2" class="cocotool"></b-img>
                    <div class="shortcutkey">3</div>
                </b-list-group-item>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('OR', $event);" v-on:mousedown="KFK.onToolboxMouseDown('OR', $event)"
                    v-on:mouseup="KFK.onToolboxMouseUp('OR', $event)" v-b-popover.hover.right title="或"
                    :active="toolActiveState['OR']">
                    <b-img :src="assets['OR.svg']" fluid alt="" scale="2" class="cocotool"></b-img>
                    <div class="shortcutkey">3</div>
                </b-list-group-item>
                <b-list-group-item href="#" class="d-flex align-items-center toolbox"
                    v-on:click="setMode('connect', $event);" placeable="none" v-b-popover.hover.right title="连接"
                    :active="toolActiveState['connect']">
                    <b-img :src="assets['connect.svg']" fluid alt="" scale="2" class="cocotool" id='tool_connect'>
                    </b-img>
                    <div class="shortcutkey">J</div>
                </b-list-group-item>

            </b-list-group>
        </div>
        <div id="rightPanel" class="bg-white padlayout spaceToHide" v-on:click="KFK.clickOnRightPanel">
            <div id="prop_START" class="prop_form nodisplay">
                <div class="view prop_section">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title">
                            Template
                        </b-row>
                    </b-container>
                </div>
                <div class="edit prop_section flex">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title text-center">
                            Template
                        </b-row>
                        <form ref="form">
                        </form>
                    </b-container>
                </div>
            </div>
            <div id="prop_ACTION" class="prop_form nodisplay">
                <div class="view prop_section">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title">
                            ACTION
                        </b-row>
                        <b-row>
                            ID: {{node.ACTION.id}}
                        </b-row>
                        <b-row>
                            LABEL: {{node.ACTION.label}}
                        </b-row>
                        <b-row>
                            ROLE: {{node.ACTION.role}}
                        </b-row>
                        <b-row>KVARS</b-row>
                        <b-row>
                            <pre>
                            {{node.ACTION.kvars}}
                            </pre>
                        </b-row>
                        <b-row>KATTS</b-row>
                        <b-row>
                            <pre>
                            {{node.ACTION.katts}}
                            </pre>
                        </b-row>
                    </b-container>
                </div>
                <div class="edit prop_section flex">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title text-center">
                            ACTION
                        </b-row>
                        <form ref="form">
                            <b-form-group :state="state.node.ACTION.id" label="Id" label-for="input_node_ACTION_id"
                                invalid-feedback="Id is required">
                                <b-form-input id="input_node_ACTION_id" v-model="node.ACTION.id" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.ACTION.label" label="Label"
                                label-for="input_node_ACTION_label" invalid-feedback="Label is required">
                                <b-form-input id="input_node_ACTION_label" v-model="node.ACTION.label" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.ACTION.role" label="Role"
                                label-for="input_node_ACTION_role" invalid-feedback="Label is required">
                                <b-form-input id="input_node_ACTION_role" v-model="node.ACTION.role" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="checkKVarsJson" label="KVARS JSON" label-for="input_node_ACTION_kvars"
                                invalid-feedback="JSON format error">
                                <b-form-textarea id="input_node_ACTION_kvars" v-model="node.ACTION.kvars" rows="5"
                                    no-auto-shrink>
                                </b-form-textarea>
                            </b-form-group>
                            <b-form-group :state="checkKAttsJson" label="KATTS JSON" label-for="input_node_ACTION_katts"
                                invalid-feedback="JSON format error">
                                <b-form-textarea id="input_node_ACTION_katts" v-model="node.ACTION.katts" rows="5"
                                    no-auto-shrink>
                                </b-form-textarea>
                            </b-form-group>
                        </form>
                    </b-container>
                </div>
                <div class="wfl prop_section">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title">
                            ACTION
                        </b-row>
                        <b-row>
                            ID: {{node.ACTION.id}}
                        </b-row>
                        <b-row>
                            STATUS: {{node.ACTION.workitem.status}}
                        </b-row>
                        <b-row>
                            LABEL: {{node.ACTION.label}}
                        </b-row>
                        <b-row>
                            ROLE: {{node.ACTION.role}}
                        </b-row>
                        <b-row>
                            DOER: {{node.ACTION.workitem.doer}}
                        </b-row>
                        <b-row>KVARS</b-row>
                        <b-row>
                            <pre>
                            {{node.ACTION.workitem.kvars}}
                            </pre>
                        </b-row>
                        <b-row>KATTS</b-row>
                        <b-row>
                            <pre>
                            {{node.ACTION.workitem.katts}}
                            </pre>
                        </b-row>
                    </b-container>
                </div>
            </div>
            <div id="prop_INFORM" class="prop_form nodisplay">
                <div class="view prop_section">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title">
                            INFORM
                        </b-row>
                        <b-row>Node Label:</b-row>
                        <b-row>{{node.INFORM.label}}</b-row>
                        <b-row>Recipient Role:</b-row>
                        <b-row>{{node.INFORM.role}}</b-row>
                        <b-row>Subject:</b-row>
                        <b-row>{{node.INFORM.subject}}</b-row>
                        <b-row>Content:</b-row>
                        <b-row>
                            <pre>
                            {{node.INFORM.content}}
                            </pre>
                        </b-row>
                    </b-container>
                </div>
                <div class="edit prop_section flex">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title text-center">
                            INFORM
                        </b-row>
                        <form ref="form">
                            <b-form-row> ID </b-form-row>
                            <b-form-row>{{node.INFORM.id}}</b-form-row>
                            <b-form-group :state="state.node.INFORM.label" label="Node Label"
                                label-for="input_node_INFORM_label" invalid-feedback="Subject is required">
                                <b-form-input id="input_node_INFORM_label" v-model="node.INFORM.label" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.INFORM.role" label="Recipient Role"
                                label-for="input_node_INFORM_role" invalid-feedback="Role is required">
                                <b-form-input id="input_node_INFORM_role" v-model="node.INFORM.role" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.INFORM.subject" label="Subject"
                                label-for="input_node_INFORM_subject" invalid-feedback="Subject is required">
                                <b-form-input id="input_node_INFORM_subject" v-model="node.INFORM.subject" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.INFORM.content" label="Content"
                                label-for="input_node_INFORM_content" invalid-feedback="Content is required">
                                <b-form-textarea id="input_node_INFORM_content" v-model="node.INFORM.content" rows="20"
                                    no-auto-shrink>
                                </b-form-textarea>
                            </b-form-group>
                        </form>
                    </b-container>
                </div>
            </div>
            <div id="prop_SCRIPT" class="prop_form nodisplay">
                <div class="view prop_section">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title">
                            SCRIPT
                        </b-row>
                        <b-row>Node Id:</b-row>
                        <b-row>{{node.SCRIPT.id}}</b-row>
                        <b-row>Node Label:</b-row>
                        <b-row>{{node.SCRIPT.label}}</b-row>
                        <b-row>Code:</b-row>
                        <b-row>
                            <pre>
                            {{node.SCRIPT.code}}
                            </pre>
                        </b-row>
                    </b-container>
                </div>
                <div class="edit prop_section flex">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title text-center">
                            SCRIPT
                        </b-row>
                        <form ref="form">
                            <b-form-group :state="state.node.SCRIPT.id" label="Node ID" label-for="input_node_SCRIPT_id"
                                invalid-feedback="Label is required">
                                <b-form-input id="input_node_SCRIPT_id" v-model="node.SCRIPT.id" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.SCRIPT.label" label="Label"
                                label-for="input_node_SCRIPT_label" invalid-feedback="Label is required">
                                <b-form-input id="input_node_SCRIPT_label" v-model="node.SCRIPT.label" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.SCRIPT.code" label="Code"
                                label-for="input_node_SCRIPT_code" invalid-feedback="Code is required">
                                <b-form-textarea id="input_node_SCRIPT_code" v-model="node.SCRIPT.code" rows="20"
                                    no-auto-shrink>
                                </b-form-textarea>
                            </b-form-group>
                        </form>
                    </b-container>
                </div>
            </div>
            <div id="prop_TIMER" class="prop_form nodisplay">
                <div class="view prop_section">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title">
                            TIMER
                        </b-row>
                        <b-row>Node Label:</b-row>
                        <b-row>{{node.TIMER.label}}</b-row>
                        <b-row>Code:</b-row>
                        <b-row>
                            <pre>
                            {{node.TIMER.code}}
                            </pre>
                        </b-row>
                    </b-container>
                </div>
                <div class="edit prop_section flex">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title text-center">
                            TIMER
                        </b-row>
                        <form ref="form">
                            <b-form-group :state="state.node.TIMER.label" label="Label"
                                label-for="input_node_TIMER_label" invalid-feedback="Label is required">
                                <b-form-input id="input_node_TIMER_label" v-model="node.TIMER.label" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.TIMER.code" label="Code" label-for="input_node_TIMER_code"
                                invalid-feedback="Code is required">
                                <b-form-textarea id="input_node_TIMER_code" v-model="node.TIMER.code" rows="1"
                                    no-auto-shrink>
                                </b-form-textarea>
                            </b-form-group>
                        </form>
                    </b-container>
                </div>
            </div>
            <div id="prop_SUB" class="prop_form nodisplay">
                <div class="view prop_section">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title">
                            SUB
                        </b-row>
                        <b-row>node ID:</b-row>
                        <b-row>{{node.SUB.id}}</b-row>
                        <b-row>Node Label:</b-row>
                        <b-row>{{node.SUB.label}}</b-row>
                        <b-row>Sub ID:</b-row>
                        <b-row>
                            <pre>
                            {{node.SUB.sub}}
                            </pre>
                        </b-row>
                    </b-container>
                </div>
                <div class="edit prop_section flex">
                    <b-container class="text-center">
                        <b-row class="mb-5 node_title text-center">
                            SUB
                        </b-row>
                        <form ref="form">
                            <b-form-group :state="state.node.SUB.id" label="node ID" label-for="input_node_SUB_id"
                                invalid-feedback="ID is required">
                                <b-form-input id="input_node_SUB_id" v-model="node.SUB.id" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.SUB.label" label="Label" label-for="input_node_SUB_label"
                                invalid-feedback="Label is required">
                                <b-form-input id="input_node_SUB_label" v-model="node.SUB.label" required>
                                </b-form-input>
                            </b-form-group>
                            <b-form-group :state="state.node.SUB.sub" label="Sub ID" label-for="input_node_SUB_sub"
                                invalid-feedback="Code is required">
                                <b-form-input id="input_node_SUB_sub" v-model="node.SUB.sub" required> </b-form-input>
                            </b-form-group>
                        </form>
                    </b-container>
                </div>
            </div>
            <div id="prop_AND" class="prop_form nodisplay">
                <b-container class="text-center">
                    <b-row class="mb-5 node_title text-center">
                        AND
                    </b-row>
                    <b-row>
                        All previous tasks should be done before continueing.
                    </b-row>
                </b-container>
            </div>
            <div id="prop_OR" class="prop_form nodisplay">
                <b-container class="text-center">
                    <b-row class="mb-5 node_title text-center">
                        OR
                    </b-row>
                    <b-row>
                        Any previous tasks should be done before continueing.
                    </b-row>
                </b-container>
            </div>
            <b-icon icon="plus" rotate="45" id="close_button" font-scale="1.5" v-on:click="KFK.closeProperties(null)">
            </b-icon>
        </div>
        <div id="minimap" class="padlayout spaceToHide">
        </div>
    </div>
</body>
<script src="./lkh.js"></script>

</html>
