// File: custom.scss

// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);
$bv-enable-table-stacked: false;

// Include Bootstrap and BootstrapVue SCSS files
// @import '~bootstrap/scss/bootstrap';
// @import '../node_modules/bootstrap-vue/dist/bootstrap-vue.min.css';
// @import '../node_modules/bootstrap-vue/dist/bootstrap-vue-icons.min.css';
@import "../../node_modules/jquery-ui-dist/jquery-ui.css";
// @import 'filepond/dist/filepond.min.css';
// @import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

// General style overrides and custom classes

body {
  margin: 0;
}

.my-widget {
  color: var(--danger);
}

.favicon {
  background: url('../favicon.png');
}
.invalid-feedback{
  color: black !important;
  font-size: 14px !important;
}
